


<h1>Calendar</h1>
<table class="table">
    <thead>
        <tr>
            <th class="table-primary" scope="col">Monday</th>
            <th class="table-secondary" scope="col">Tuesday</th>
            <th class="table-primary" scope="col">Wednesday</th>
            <th class="table-secondary" scope="col">Thursday</th>
            <th class="table-primary" scope="col">Friday</th>
            <th class="table-secondary" scope="col">Saturday</th>
            <th class="table-primary" scope="col">Sunday</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th class="table-primary" scope="col">Morning</th>
            <th class="table-secondary" scope="col">Morning</th>
            <th class="table-primary" scope="col">Morning</th>
            <th class="table-secondary" scope="col">Morning</th>
            <th class="table-primary" scope="col">Morning</th>
            <th class="table-secondary" scope="col">Morning</th>
            <th class="table-primary" scope="col">Morning</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    @foreach (var mondayMorn in ViewBag.MondayMorns)
                    {
                        <li>@mondayMorn.Name&nbsp;@mondayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var tuesdayMorn in ViewBag.TuesdayMorns)
                    {
                        <li>@tuesdayMorn.Name&nbsp;@tuesdayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var wednesdayMorn in ViewBag.WednesdayMorns)
                    {
                        <li>@wednesdayMorn.Name&nbsp;@wednesdayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var thursdayMorn in ViewBag.ThursdayMorns)
                    {
                        <li>@thursdayMorn.Name&nbsp;@thursdayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var fridayMorn in ViewBag.FridayMorns)
                    {
                        <li>@fridayMorn.Name&nbsp;@fridayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var saturdayMorn in ViewBag.SaturdayMorns)
                    {
                        <li>@saturdayMorn.Name&nbsp;@saturdayMorn.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var sundayMorn in ViewBag.SundayMorns)
                    {
                        <li>@sundayMorn.Name&nbsp;@sundayMorn.Dosage</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th class="table-primary" scope="col">Afternoon</th>
            <th class="table-secondary" scope="col">Afternoon</th>
            <th class="table-primary" scope="col">Afternoon</th>
            <th class="table-secondary" scope="col">Afternoon</th>
            <th class="table-primary" scope="col">Afternoon</th>
            <th class="table-secondary" scope="col">Afternoon</th>
            <th class="table-primary" scope="col">Afternoon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    @foreach (var mondayAfter in ViewBag.MondayAfters)
                    {
                        <li>@mondayAfter.Name&nbsp;@mondayAfter.Dosage</li>
                    }
                </ul>

            </td>
            <td>
                <ul>
                    @foreach (var tuesdayAfter in ViewBag.TuesdayAfters)
                    {
                        <li>@tuesdayAfter.Name&nbsp;@tuesdayAfter.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var wednesdayAfter in ViewBag.WednesdayAfters)
                    {
                        <li>@wednesdayAfter.Name&nbsp;@wednesdayAfter.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var thursdayAfter in ViewBag.ThursdayAfters)
                    {
                        <li>@thursdayAfter.Name&nbsp;@thursdayAfter.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var fridayAfter in ViewBag.FridayAfters)
                    {
                        <li>@fridayAfter.Name&nbsp;@fridayAfter.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var saturdayAfter in ViewBag.SaturdayAfters)
                    {
                        <li>@saturdayAfter.Name&nbsp;@saturdayAfter.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var sundayAfter in ViewBag.SundayAfters)
                    {
                        <li>@sundayAfter.Name&nbsp;@sundayAfter.Dosage</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th class="table-primary" scope="col">Evening</th>
            <th class="table-secondary" scope="col">Evening</th>
            <th class="table-primary" scope="col">Evening</th>
            <th class="table-secondary" scope="col">Evening</th>
            <th class="table-primary" scope="col">Evening</th>
            <th class="table-secondary" scope="col">Evening</th>
            <th class="table-primary" scope="col">Evening</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    @foreach (var mondayEve in ViewBag.MondayEves)
                    {
                        <li>@mondayEve.Name&nbsp;@mondayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var tuesdayEve in ViewBag.TuesdayEves)
                    {
                        <li>@tuesdayEve.Name&nbsp;@tuesdayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var wednesdayEve in ViewBag.WednesdayEves)
                    {
                        <li>@wednesdayEve.Name&nbsp;@wednesdayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var thursdayEve in ViewBag.ThursdayEves)
                    {
                        <li>@thursdayEve.Name&nbsp;@thursdayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var fridayEve in ViewBag.FridayEves)
                    {
                        <li>@fridayEve.Name&nbsp;@fridayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var saturdayEve in ViewBag.SaturdayEves)
                    {
                        <li>@saturdayEve.Name&nbsp;@saturdayEve.Dosage</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var sundayEve in ViewBag.SundayEves)
                    {
                        <li>@sundayEve.Name&nbsp;@sundayEve.Dosage</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>


