
<h1>Medications</h1>

<p>
    <a asp-controller="Medication" asp-action="Add">Add</a>&nbsp;&nbsp;
    <a asp-controller="Medication" asp-action="Remove">Remove</a>
</p>
@if (Enumerable.Count(ViewBag.AccountMeds) == 0)
{
<p>No medications yet!</p>
}



<table class="table">
    @foreach (var medication in ViewBag.AccountMeds)
    {
    <tr>
        <th>@medication.Name</th>
        
        <th><a asp-controller="Medication" asp-action="Details" asp-route-id="@medication.ID">View</a></th>
        <th><a asp-controller="Medication" asp-action="Edit" asp-route-id="@medication.ID">Edit</a></th>
        <th><a asp-controller="Medication" asp-action="Delete" asp-route-id="@medication.ID">Delete</a></th>
    </tr>
    }
    </table>


@*@if (Model.Count == 0)
    {
        <p>No medications yet!</p>
    }
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Dosage</th>
        </tr>
        @foreach (var medication in Model)
        {
            var photoPath = "~/images/" + (medication.PhotoPath ?? "noimage.jpg");
            <tr>
                <th>@medication.Name</th>
                <th>@medication.Description</th>
                <th>@medication.Category.Name</th>
                <th>@medication.Dosage</th>

                <th><a asp-controller="Home" asp-action="Details" asp-route-id="@medication.ID">View</a></th>
                <th><a asp-controller="Home" asp-action="Edit" asp-route-id="@medication.ID">Edit</a></th>
                <th><a asp-controller="Medication" asp-action="Delete" asp-route-id="@medication.ID">Delete</a></th>
            </tr>
            <tr>
                <td><img src="@photoPath" asp-append-version="true" /></td>
            </tr>
        }
    </table>*@
