
<h1>Medications</h1>

<p>
    <a asp-controller="Medication" asp-action="Add">Add</a>&nbsp;&nbsp;
    <a asp-controller="Medication" asp-action="Remove">Remove</a>
</p>
@if (Enumerable.Count(ViewBag.AccountMeds) == 0)
{
<p>No medications yet!</p>
}
<h2>@ViewBag.CategoryName</h2>


<table class="table">
    @foreach (var medication in ViewBag.AccountMeds)
    {
    <tr>
        <th>@medication.Name</th>
        <th><a asp-controller="Medication" asp-action="Details" asp-route-id="@medication.ID">View</a></th>
        <th><a asp-controller="Medication" asp-action="Edit" asp-route-id="@medication.ID">Edit</a></th>
        <th><a asp-controller="Medication" asp-action="Delete" asp-route-id="@medication.ID">Delete</a></th>
    </tr>
    }
    </table>
